/* reset styles css start */
*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}*
/* reset styles css end */
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', 'Lato', sans-serif ;
  font-size: 16px;
  color: black;
}
/* Header styles start */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(237, 233, 233);
}

.nav__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 6px;
}

.nav__item:hover {
  cursor: pointer;
  background-color: rgb(174, 165, 165);
  border-radius: 6px;
}

.nav__item:last-child {
  margin-right: 10px;
}

.nav__link {
  text-transform: capitalize;
  color: black;
}
/* Header styles end */
/* My-profile styles start */
.my-profile {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-profile__logo {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.my-profile__logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.my-profile__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.my-profile__subtitle:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
/* My-profile styles end */
/* Grid-container styles start */
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgb(174, 165, 165);
}

.section__title {
  text-transform: uppercase;
  font-style: italic;
}

.section__description {
  text-align: center;
}

.section__list_description {
  color: rgb(168, 108, 108);
}

.section__list_description:hover {
  color: rgb(207, 52, 52);
}
/* Grid-container styles end */
/* Footer styles start */
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 233, 233);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.logo__rsschool {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.logo-rss {
  width: 64px;
  height: 64px;
}
/* Footer styles end */